Repository irongut/EDlib, changes with the labels that .github/labeler.yml gives for each.
All labels: BGS, CGs, Cmdr-Profile, Demo, DevOps, documentation, ED Status, EDSM, GalNet, INARA, Network, Platform, Powerplay, Tests

.github/labeler.yml:

# Configuration for PR Labeller Action
# See: https://github.com/actions/labeler/blob/master/README.md

# Examples
# Add 'label1' to PR if anything changes within 'example' folder or any subfolders
# label1:
#   - example/**/*

# Add 'label2' to PR if any file changes within 'example2' folder
# label2: example2/*

BGS:
  - src/EDlib/BGS/**/*

CGs:
  - src/EDlib/Common/Models/Topic*
  - src/EDlib/INARA/Models/Community*
  - src/EDlib/INARA/Resources/CG*
  - src/EDlib/INARA/Services/Community*

Cmdr-Profile: 
  - src/EDlib/INARA/Models/Commander*
  - src/EDlib/INARA/Services/Commander*

Demo:
  - src/EDlibDemo/**/*

DevOps:
  - .github/**/*
  
documentation:
  - docfx_project/**/*

ED Status:
  - src/EDlib/EDSM/Models/EliteStatus*
  - src/EDlib/EDSM/Services/EliteStatus*

EDSM:
  - src/EDlib/EDSM/**/*
  
GalNet:
  - src/EDlib/GalNet/**/*
  - src/EDlib/Common/Models/Topic*

INARA:
  - src/EDlib/INARA/**/*
  
Network:
  - src/EDlib/Network/**/*

Platform:
  - src/EDlib/Platform/**/*

Powerplay:
  - src/EDlib/Powerplay/**/*

Tests:
  - src/UnitTests/**/*

updated intellisense xml
  src/EDlib/Taranis.EDlib.xml
Labels: none

GalNet BoW improvements
  src/EDlib/GalNet/Resources/NewsBoW.json
  src/EDlib/GalNet/Resources/NewsFalseBoW.json
Labels: GalNet

updated Standings test
  src/UnitTests/PowerplayTests.cs
Labels: Tests

disabled some tests to avoid throttling
  src/UnitTests/InaraCGTests.cs
  src/UnitTests/InaraServiceTests.cs
Labels: Tests

workaround for actions/labeler#136
  .github/workflows/prlabeler.yml
Labels: DevOps

disabled all tests that require downloads to prevent INARA throttling
  src/UnitTests/InaraCGTests.cs
  src/UnitTests/InaraCommanderTests.cs
  src/UnitTests/InaraServiceTests.cs
Labels: Tests

updated MSTest libraries
  src/UnitTests/UnitTests.csproj
Labels: Tests

updated ci build
  .github/workflows/cibuild.yml
Labels: DevOps

updated ci build
  .github/workflows/cibuild.yml
Labels: DevOps

supress .net cli to speed up ci build
  .github/workflows/cibuild.yml
Labels: DevOps

added release build workflow #76
  .github/workflows/release-build.yml
Labels: DevOps

updated release build workflow #76
  .github/workflows/release-build.yml
Labels: DevOps

updated release build workflow #76
  .github/workflows/release-build.yml
Labels: DevOps

deploy docs to pages on release #76
  .github/workflows/release-build.yml
Labels: DevOps

made TimeRemaining more useful #97
  src/EDlib/Powerplay/Services/CycleService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: Powerplay

changed demo to get CGs from last 2 weeks #98
  src/EDlibDemo/Program.cs
Labels: Demo

fix for CG collection enumeration issue #98
  src/EDlib/INARA/Services/CommunityGoalsService.cs
Labels: CGs, INARA

fix for PR comment
  .github/workflows/cibuild.yml
Labels: DevOps

fix for PR comment
  .github/workflows/cibuild.yml
Labels: DevOps

fix for PR comment
  .github/workflows/cibuild.yml
Labels: DevOps

fix for PR comment
  .github/workflows/cibuild.yml
Labels: DevOps

added hash id to NewsArticle #79
  src/EDlib/GalNet/Models/NewsArticle.cs
  src/EDlib/Taranis.EDlib.xml
  src/UnitTests/GalNetTests.cs
Labels: GalNet, Tests

add test coverage to release notes #76
  .github/workflows/release-build.yml
Labels: DevOps

fixed nuget push #76
  .github/workflows/release-build.yml
Labels: DevOps

updated release build
  .github/workflows/release-build.yml
Labels: DevOps

updated release build
  .github/workflows/release-build.yml
Labels: DevOps

updated release build #76
  .github/workflows/release-build.yml
Labels: DevOps

fixed icon path
  docfx_project/index.md
Labels: documentation

added changelog to release workflow
  .github/workflows/release-build.yml
Labels: DevOps

fixed release notes action version
  .github/workflows/release-build.yml
Labels: DevOps

fixed previous tag step
  .github/workflows/release-build.yml
Labels: DevOps

deploy: a739e52ae664adecffccd57ee48f82a4d7531fff
  index.html
  manifest.json
Labels: none

updated docs footer
  docfx_project/docfx.json
Labels: documentation

updated doccs index
  docfx_project/index.md
Labels: documentation

updated readme
  README.md
Labels: none

updated docs
  README.md
  docfx_project/api/index.md
  docfx_project/index.md
Labels: documentation

updated release build
  .github/workflows/release-build.yml
Labels: DevOps

added manual docs update workflow
  .github/workflows/update-docs.yml
Labels: DevOps

updated docs workflow
  .github/workflows/update-docs.yml
Labels: DevOps

fixed footer images
  docfx_project/docfx.json
Labels: documentation
