Repository irongut/EDlib, changes with the labels that .github/labeler.yml gives for each.
All labels: BGS, CGs, Cmdr-Profile, Demo, DevOps, documentation, ED Status, EDSM, GalNet, INARA, Network, Platform, Powerplay, Tests

added docs for CGs #11
  src/EDlib/INARA/Models/CommunityGoal.cs
  src/EDlib/INARA/Services/CommunityGoalsService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: CGs, INARA

added docs for INARA getCommanderProfile API #11
  src/EDlib/INARA/Models/CommanderProfile.cs
  src/EDlib/INARA/Services/CommanderProfileService.cs
  src/EDlib/INARA/Services/CommunityGoalsService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: CGs, Cmdr-Profile, INARA

added docs for INARA API classes #11
  src/EDlib/INARA/Models/InaraEvent.cs
  src/EDlib/INARA/Models/InaraHeader.cs
  src/EDlib/INARA/Models/InaraIdentity.cs
  src/EDlib/INARA/Models/InaraRequest.cs
  src/EDlib/INARA/Services/InaraService.cs
Labels: INARA

minor docs tweaks
  src/EDlib/EDSM/Services/EdsmService.cs
  src/EDlib/INARA/Services/CommanderProfileService.cs
  src/EDlib/INARA/Services/CommunityGoalsService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: CGs, Cmdr-Profile, EDSM, INARA

decoupled StandingsService from CachedDownloadService #41
  src/EDlib/Network/Services/CachedDownloadService.cs
  src/EDlib/Network/Services/DownloadService.cs
  src/EDlib/Powerplay/Services/StandingsService.cs
  src/EDlib/Taranis.EDlib.xml
  src/UnitTests/DownloadTests.cs
  src/UnitTests/PowerplayTests.cs
Labels: Network, Powerplay, Tests

use StandingsService in Demo app
  src/EDlibDemo/EDlibDemo.csproj
  src/EDlibDemo/Program.cs
Labels: Demo

fixed issue with GalNet tests
  src/EDlib/GalNet/Models/NewsArticle.cs
  src/EDlib/Taranis.EDlib.xml
  src/UnitTests/GalNetTests.cs
Labels: GalNet, Tests

tweaked CG property visibility #11
  src/EDlib/INARA/Models/CommunityGoal.cs
Labels: CGs, INARA

fixed Inara api linking issues #11
  src/EDlib/INARA/Models/InaraEvent.cs
  src/EDlib/INARA/Models/InaraHeader.cs
  src/EDlib/INARA/Models/InaraRequest.cs
  src/EDlib/INARA/Services/InaraService.cs
Labels: INARA

increased version to 0.6-alpha
  src/EDlib.Mock/EDlib.Mock.csproj
  src/EDlib/EDlib.csproj
  src/EDlibDemo/EDlibDemo.csproj
  src/UnitTests/UnitTests.csproj
Labels: Demo, Tests

added MinVer for build versioning #32
  src/EDlib.Mock/EDlib.Mock.csproj
  src/EDlib/EDlib.csproj
  src/EDlibDemo/EDlibDemo.csproj
Labels: Demo

create EDlib.Mock nuget
  src/EDlib.Mock/EDlib.Mock.csproj
Labels: none

upload nugets to build artifacts #32
  .github/workflows/cibuild.yml
Labels: DevOps

fix MinVer for CI build
  .github/workflows/cibuild.yml
Labels: DevOps

added code coverage to ci #32
  .github/workflows/cibuild.yml
Labels: DevOps

fixed code coverage path #32
  .github/workflows/cibuild.yml
Labels: DevOps

use environment var in coverage path #32
  .github/workflows/cibuild.yml
Labels: DevOps

another coverage path attempt #32
  .github/workflows/cibuild.yml
Labels: DevOps

move coverage file schennanigans #32
  .github/workflows/cibuild.yml
Labels: DevOps

Update cibuild.yml
  .github/workflows/cibuild.yml
Labels: DevOps

copy coverage to predictable location #32
  .github/workflows/cibuild.yml
Labels: DevOps

add test coverage comment to PR #32
  .github/workflows/cibuild.yml
Labels: DevOps

test file for code coverage in ci build #32
  TEST.txt
Labels: none

change coverage comment to markdown #32
  .github/workflows/cibuild.yml
Labels: DevOps

more ci code coverage tests #32
  TEST.txt
Labels: none

fixed name of coverage results file #32
  .github/workflows/cibuild.yml
Labels: DevOps

more ci code coverage tests #32
  TEST.txt
Labels: none

updated ci build #32
  .github/workflows/cibuild.yml
Labels: DevOps

updated ci build #32
  .github/workflows/cibuild.yml
Labels: DevOps

more ci code coverage tests #32
  TEST.txt
Labels: none

updatede Assign to Project workflow
  .github/workflows/assignProject.yml
Labels: DevOps

updated assign to project action
  .github/workflows/assignProject.yml
Labels: DevOps

upload coverage summary artifact #32
  .github/workflows/cibuild.yml
Labels: DevOps

updated coverage summary action
  .github/workflows/cibuild.yml
Labels: DevOps

added Actions to Dependabot updates
  .github/dependabot.yml
Labels: DevOps

removed Dependabot preview badge
  README.md
Labels: none

add namespaces to documentation #68
  docfx_project/docfx.json
Labels: documentation

add INARA namespace docs #68
  docfx_project/namespaces/EDlib.INARA.md
Labels: documentation

add EDSM namespace docs #68
  docfx_project/namespaces/EDlib.EDSM.md
Labels: documentation

add namespace docs for BGS, GalNet + Powerplay #68
  docfx_project/namespaces/EDlib.BGS.md
  docfx_project/namespaces/EDlib.GalNet.md
  docfx_project/namespaces/EDlib.Powerplay.md
Labels: documentation

.github/labeler.yml:

# Configuration for PR Labeller Action
# See: https://github.com/actions/labeler/blob/master/README.md

# Examples
# Add 'label1' to PR if anything changes within 'example' folder or any subfolders
# label1:
#   - example/**/*

# Add 'label2' to PR if any file changes within 'example2' folder
# label2: example2/*

BGS:
  - src/EDlib/BGS/**/*

CGs:
  - src/EDlib/Common/Models/Topic*
  - src/EDlib/INARA/Models/Community*
  - src/EDlib/INARA/Resources/CG*
  - src/EDlib/INARA/Services/Community*

Cmdr-Profile: 
  - src/EDlib/INARA/Models/Commander*
  - src/EDlib/INARA/Services/Commander*

Demo:
  - src/EDlibDemo/**/*

DevOps:
  - .github/**/*
  
documentation:
  - docfx_project/**/*

ED Status:
  - src/EDlib/EDSM/Models/EliteStatus*
  - src/EDlib/EDSM/Services/EliteStatus*

EDSM:
  - src/EDlib/EDSM/**/*
  
GalNet:
  - src/EDlib/GalNet/**/*
  - src/EDlib/Common/Models/Topic*

INARA:
  - src/EDlib/INARA/**/*
  
Network:
  - src/EDlib/Network/**/*

Platform:
  - src/EDlib/Platform/**/*

Powerplay:
  - src/EDlib/Powerplay/**/*

Tests:
  - src/UnitTests/**/*
