Repository irongut/EDlib, changes with the labels that .github/labeler.yml gives for each.
All labels: BGS, CGs, Cmdr-Profile, Demo, DevOps, documentation, ED Status, EDSM, GalNet, INARA, Network, Platform, Powerplay, Tests

.github/labeler.yml:

# Configuration for PR Labeller Action
# See: https://github.com/actions/labeler/blob/master/README.md

# Examples
# Add 'label1' to PR if anything changes within 'example' folder or any subfolders
# label1:
#   - example/**/*

# Add 'label2' to PR if any file changes within 'example2' folder
# label2: example2/*

BGS:
  - src/EDlib/BGS/**/*

CGs:
  - src/EDlib/Common/Models/Topic*
  - src/EDlib/INARA/Models/Community*
  - src/EDlib/INARA/Resources/CG*
  - src/EDlib/INARA/Services/Community*

Cmdr-Profile: 
  - src/EDlib/INARA/Models/Commander*
  - src/EDlib/INARA/Services/Commander*

Demo:
  - src/EDlibDemo/**/*

DevOps:
  - .github/**/*
  
documentation:
  - docfx_project/**/*

ED Status:
  - src/EDlib/EDSM/Models/EliteStatus*
  - src/EDlib/EDSM/Services/EliteStatus*

EDSM:
  - src/EDlib/EDSM/**/*
  
GalNet:
  - src/EDlib/GalNet/**/*
  - src/EDlib/Common/Models/Topic*

INARA:
  - src/EDlib/INARA/**/*
  
Network:
  - src/EDlib/Network/**/*

Platform:
  - src/EDlib/Platform/**/*

Powerplay:
  - src/EDlib/Powerplay/**/*

Tests:
  - src/UnitTests/**/*

fixed header image
  docfx_project/docfx.json
Labels: documentation

updated code coverage action
  .github/workflows/release-build.yml
Labels: DevOps

updated code coverage action
  .github/workflows/cibuild.yml
Labels: DevOps

updated build workflows
  .github/workflows/cibuild.yml
  .github/workflows/release-build.yml
Labels: DevOps

Update autoassign.yml
  .github/workflows/autoassign.yml
Labels: DevOps

changed visibility of CG properties
  src/EDlib/INARA/Models/CommunityGoal.cs
Labels: CGs, INARA

removed changelog steps from release build
  .github/workflows/release-build.yml
Labels: DevOps

deploy: 4f1763a8c56d2cc7485fdd2ec985dfb3bbf4e769
  api/EDlib.INARA.CommunityGoal.html
  index.json
  manifest.json
Labels: none

changed visibility of ClassifyCG
  src/EDlib/INARA/Models/CommunityGoal.cs
Labels: CGs, INARA

deploy: 5c631ef1d0157779e77c9443a3c665234848e571
  api/EDlib.INARA.CommunityGoal.html
  index.json
  manifest.json
  xrefmap.yml
Labels: none

fixed EDSM System | Station tests
  src/UnitTests/EdsmSystemTests.cs
Labels: Tests

added Moq library
  src/UnitTests/UnitTests.csproj
Labels: Tests

mocked BGS tests
  src/UnitTests/BGSTests.cs
Labels: Tests

improved BGS tests
  src/UnitTests/BGSTests.cs
Labels: Tests

fixed bug when bgs tick returns no data
  src/EDlib/BGS/Services/BgsTickService.cs
Labels: BGS

reworked network layer tests
  src/UnitTests/CachedDownloadServiceTests.cs
  src/UnitTests/DownloadOptionsTests.cs
  src/UnitTests/DownloadServiceTests.cs
  src/UnitTests/DownloadTests.cs
  src/UnitTests/GlobalSuppressions.cs
Labels: Tests

reorganised unit tests
  src/UnitTests/BGS/BGSTests.cs
  src/UnitTests/EDSM/EdsmServiceTests.cs
  src/UnitTests/EDSM/EdsmStatusTests.cs
  src/UnitTests/EDSM/EdsmSystemTests.cs
  src/UnitTests/EDSM/EdsmSystemsTests.cs
  src/UnitTests/GalNet/GalNetTests.cs
  src/UnitTests/INARA/InaraCGTests.cs
  src/UnitTests/INARA/InaraCommanderTests.cs
  src/UnitTests/INARA/InaraServiceTests.cs
  src/UnitTests/Network/CachedDownloadServiceTests.cs
  src/UnitTests/Network/DownloadOptionsTests.cs
  src/UnitTests/Network/DownloadServiceTests.cs
  src/UnitTests/Network/HashTests.cs
  src/UnitTests/Powerplay/CycleServiceTests.cs
  src/UnitTests/Powerplay/PowerplayTests.cs
Labels: Tests

new StandingsService tests
  src/UnitTests/Powerplay/PowerplayTests.cs
  src/UnitTests/Powerplay/StandingsServiceTests.cs
Labels: Tests

new PowerDetailsService tests
  src/UnitTests/Powerplay/PowerDetailsServiceTests.cs
  src/UnitTests/Powerplay/PowerplayTests.cs
Labels: Tests

added powerplay start date to Cycle Service
  src/EDlib/Powerplay/Services/CycleService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: Powerplay

added ability to use a fixed date with CycleService
  src/EDlib/Powerplay/Services/CycleService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: Powerplay

improved CycleService tests
  src/UnitTests/Powerplay/CycleServiceTests.cs
Labels: Tests

improved CycleService tests
  src/UnitTests/Powerplay/CycleServiceTests.cs
Labels: Tests

improved EdsmService tests
  src/UnitTests/EDSM/EdsmServiceTests.cs
Labels: Tests

reworked EDSM services
  src/EDlib/EDSM/Services/EdsmService.cs
  src/EDlib/EDSM/Services/EliteStatusService.cs
  src/EDlib/EDSM/Services/IEdsmService.cs
  src/EDlib/EDSM/Services/SystemService.cs
  src/EDlib/EDSM/Services/SystemsService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: ED Status, EDSM

improved EliteStatusService tests
  src/UnitTests/EDSM/EdsmEliteStatusServiceTests.cs
  src/UnitTests/EDSM/EdsmStatusTests.cs
Labels: Tests

docs fix
  src/EDlib/EDSM/Models/SystemFactions.cs
  src/EDlib/Taranis.EDlib.xml
Labels: EDSM

reworked EDSM tests
  src/UnitTests/EDSM/EdsmSystemServiceTests.cs
  src/UnitTests/EDSM/EdsmSystemTests.cs
  src/UnitTests/EDSM/EdsmSystemsServiceTests.cs
  src/UnitTests/EDSM/EdsmSystemsTests.cs
  src/UnitTests/GlobalSuppressions.cs
Labels: Tests

reworked GalNet tests
  src/UnitTests/GalNet/GalNetServiceTests.cs
  src/UnitTests/GalNet/GalNetTests.cs
Labels: Tests

reworked InaraService tests
  src/EDlib/INARA/Models/InaraEvent.cs
  src/EDlib/INARA/Models/InaraHeader.cs
  src/UnitTests/INARA/InaraModelTests.cs
  src/UnitTests/INARA/InaraServiceTests.cs
Labels: INARA, Tests

reworked Inara services
  src/EDlib/INARA/Services/CommanderProfileService.cs
  src/EDlib/INARA/Services/CommunityGoalsService.cs
  src/EDlib/INARA/Services/IInaraService.cs
  src/EDlib/INARA/Services/InaraService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: CGs, Cmdr-Profile, INARA

fixed cache issue in Inara services
  src/EDlib/INARA/Services/CommanderProfileService.cs
  src/EDlib/INARA/Services/CommunityGoalsService.cs
Labels: CGs, Cmdr-Profile, INARA

reworked CG service tests
  src/UnitTests/INARA/InaraCGTests.cs
  src/UnitTests/INARA/InaraCommunityGoalServiceTests.cs
Labels: Tests

reworked Cmdr Profile tests
  src/UnitTests/GlobalSuppressions.cs
  src/UnitTests/INARA/InaraCommanderProfileServiceTests.cs
  src/UnitTests/INARA/InaraCommanderTests.cs
Labels: Tests

fixed cache issue
  src/EDlib/BGS/Services/BgsTickService.cs
  src/EDlib/EDSM/Services/EliteStatusService.cs
  src/EDlib/EDSM/Services/SystemService.cs
  src/EDlib/EDSM/Services/SystemsService.cs
  src/EDlib/GalNet/Services/GalNetService.cs
  src/EDlib/Powerplay/Services/StandingsService.cs
  src/UnitTests/EDSM/EdsmSystemServiceTests.cs
  src/UnitTests/GlobalSuppressions.cs
  src/UnitTests/Powerplay/StandingsServiceTests.cs
Labels: BGS, ED Status, EDSM, GalNet, Powerplay, Tests

updated demo program to use Moq
  src/EDlibDemo/EDlibDemo.csproj
  src/EDlibDemo/Program.cs
Labels: Demo

removed Edlib.Mock
  src/EDlib.sln
  src/UnitTests/UnitTests.csproj
Labels: Tests

docs update
  src/EDlib/EDSM/Services/IEdsmService.cs
  src/EDlib/INARA/Services/IInaraService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: EDSM, INARA

remove EDlib.Mock + cleanup
  .github/workflows/cibuild.yml
  .github/workflows/release-build.yml
  src/EDlib.Mock/EDlib.Mock.csproj
  src/EDlib.Mock/Platform/CacheService/EmptyCache.cs
  src/EDlib.Mock/Platform/ConnectivityService/UnmeteredConnection.cs
  src/EDlib.Mock/SecurityCodeScan.config.yml
  src/UnitTests/UnitTests.csproj
  src/UnitTests/appsettings.json
Labels: DevOps, Tests

documentation tweaks
  docfx_project/namespaces/EDlib.EDSM.md
  docfx_project/namespaces/EDlib.GalNet.md
  docfx_project/namespaces/EDlib.INARA.md
Labels: documentation
