Repository irongut/EDlib, changes with the labels that .github/labeler.yml gives for each.
All labels: BGS, CGs, Cmdr-Profile, Demo, DevOps, documentation, ED Status, EDSM, GalNet, INARA, Network, Platform, Powerplay, Tests

.github/labeler.yml:

# Configuration for PR Labeller Action
# See: https://github.com/actions/labeler/blob/master/README.md

# Examples
# Add 'label1' to PR if anything changes within 'example' folder or any subfolders
# label1:
#   - example/**/*

# Add 'label2' to PR if any file changes within 'example2' folder
# label2: example2/*

BGS:
  - src/EDlib/BGS/**/*

CGs:
  - src/EDlib/Common/Models/Topic*
  - src/EDlib/INARA/Models/Community*
  - src/EDlib/INARA/Resources/CG*
  - src/EDlib/INARA/Services/Community*

Cmdr-Profile: 
  - src/EDlib/INARA/Models/Commander*
  - src/EDlib/INARA/Services/Commander*

Demo:
  - src/EDlibDemo/**/*

DevOps:
  - .github/**/*
  
documentation:
  - docfx_project/**/*

ED Status:
  - src/EDlib/EDSM/Models/EliteStatus*
  - src/EDlib/EDSM/Services/EliteStatus*

EDSM:
  - src/EDlib/EDSM/**/*
  
GalNet:
  - src/EDlib/GalNet/**/*
  - src/EDlib/Common/Models/Topic*

INARA:
  - src/EDlib/INARA/**/*
  
Network:
  - src/EDlib/Network/**/*

Platform:
  - src/EDlib/Platform/**/*

Powerplay:
  - src/EDlib/Powerplay/**/*

Tests:
  - src/UnitTests/**/*

add secure CI build test
  .github/workflows/ci-build-secure-workflow-test.yml
Labels: DevOps

implement secure workflows for project management #156
  .github/workflows/assignProject.yml
  .github/workflows/autoassign.yml
  .github/workflows/prlabeler.yml
  .github/workflows/stale.yml
  .github/workflows/update-docs.yml
Labels: DevOps

implement secure workflows for builds #156
  .github/workflows/cibuild.yml
  .github/workflows/release-build.yml
Labels: DevOps

ignore markdown + git setting changes for CI build
  .github/workflows/cibuild.yml
Labels: DevOps

add codeql scanning
  .github/workflows/codeql-scan.yml
Labels: DevOps

secure codeql workflow
  .github/workflows/codeql-scan.yml
Labels: DevOps

add security policy
  SECURITY.md
Labels: none

added codeql badge
  README.md
Labels: none

update user secrets for demo program
  .github/workflows/cibuild.yml
  src/EDlibDemo/appsettings.json
Labels: Demo, DevOps

update unit tests to .NET 6
  src/UnitTests/UnitTests.csproj
Labels: Tests

update demo program to .NET 6
  src/EDlibDemo/EDlibDemo.csproj
Labels: Demo

update build workflows to .NET 6
  .github/workflows/ci-build-secure-workflow-test.yml
  .github/workflows/cibuild.yml
  .github/workflows/codeql-scan.yml
  .github/workflows/release-build.yml
Labels: DevOps

update ci build workflow
  .github/workflows/cibuild.yml
Labels: DevOps

block unknown calls from project management workflows #157
  .github/workflows/assignProject.yml
  .github/workflows/autoassign.yml
  .github/workflows/prlabeler.yml
  .github/workflows/stale.yml
Labels: DevOps

block unknown calls from docs workflow #157
  .github/workflows/update-docs.yml
Labels: DevOps

Update codeql-scan.yml
  .github/workflows/codeql-scan.yml
Labels: DevOps

block unknown calls from codeql workflow #157
  .github/workflows/codeql-scan.yml
Labels: DevOps

block unknown calls from ci build workflow #157
  .github/workflows/cibuild.yml
Labels: DevOps

block unknown calls from release workflow #157
  .github/workflows/cibuild.yml
  .github/workflows/release-build.yml
Labels: DevOps

Update cibuild.yml
  .github/workflows/cibuild.yml
Labels: DevOps

Update cibuild.yml
  .github/workflows/cibuild.yml
Labels: DevOps

Update cibuild.yml
  .github/workflows/cibuild.yml
Labels: DevOps

update assign PR permissions
  .github/workflows/autoassign.yml
Labels: DevOps
