Repository irongut/EDlib, changes with the labels that .github/labeler.yml gives for each.
All labels: DevOps, Demo, Powerplay

.github/labeler.yml:

# Configuration for PR Labeller Action
# See: https://github.com/actions/labeler/blob/master/README.md

# Examples
# Add 'label1' to any changes within 'example' folder or any subfolders
# label1:
#   - example/**/*

# Add 'label2' to any file changes within 'example2' folder
# label2: example2/*

DevOps:
  - .github/**/*
  
Demo:
  - src/EDlibDemo/**/*

Powerplay:
  - src/EDlib/Standings/**/*

added GitHub issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: DevOps

added exception handling to demo
  src/EDlibDemo/Program.cs
Labels: Demo

added default constructor and property setters for json deserialisation
  src/EDlib/Standings/Models/PowerStanding.cs
Labels: Powerplay

improved compatibility with Json.Net
  src/EDlib/Standings/Models/GalacticStandings.cs
Labels: Powerplay

changed demo to read standings from json blob
  src/EDlibDemo/EDlibDemo.csproj
  src/EDlibDemo/Program.cs
Labels: Demo

changed Standings namespace to Powerplay #3
  src/EDlib/Powerplay/Models/GalacticStandings.cs
  src/EDlib/Powerplay/Models/PowerStanding.cs
  src/EDlib/Powerplay/Services/CycleService.cs
  src/EDlibDemo/Program.cs
Labels: Demo

added platform interfaces for cache + connectivity #2
  src/EDlib/Platform/ICacheService.cs
  src/EDlib/Platform/IConnectivityService.cs
Labels: none

added download service #4
  src/EDlib/Exceptions/APIException.cs
  src/EDlib/Exceptions/NoNetworkNoCacheException.cs
  src/EDlib/Network/Helpers/HttpHelper.cs
  src/EDlib/Network/Services/DownloadService.cs
Labels: none

added GetData() with cancel token #4
  src/EDlib/Network/Services/DownloadService.cs
Labels: none

added StandingsService #5
  src/EDlib/Powerplay/Services/StandingsService.cs
Labels: none

added assign to project workflow
  .github/workflows/assignProject.yml
Labels: DevOps

added Power Details #6
  src/EDlib/EDlib.csproj
  src/EDlib/Powerplay/Models/PowerComms.cs
  src/EDlib/Powerplay/Models/PowerDetails.cs
  src/EDlib/Powerplay/Resources/PowerDetails.json
  src/EDlib/Powerplay/Services/PowerDetailsService.cs
Labels: none

added Power Details to demo #6
  src/EDlibDemo/Program.cs
Labels: Demo
