Repository irongut/EDlib, changes with the labels that .github/labeler.yml gives for each.
All labels: BGS, DevOps, Demo, documentation, ED Status, EDSM, GalNet, Network, Platform, Powerplay, Tests

.github/labeler.yml:

# Configuration for PR Labeller Action
# See: https://github.com/actions/labeler/blob/master/README.md

# Examples
# Add 'label1' to PR if anything changes within 'example' folder or any subfolders
# label1:
#   - example/**/*

# Add 'label2' to PR if any file changes within 'example2' folder
# label2: example2/*

BGS:
  - src/EDlib/BGS/**/*

DevOps:
  - .github/**/*
  
Demo:
  - src/EDlibDemo/**/*

documentation:
  - docfx_project/**/*

ED Status:
  - src/EDlib/EDSM/Models/EliteStatus.cs
  - src/EDlib/EDSM/Services/EliteStatusService.cs

EDSM:
  - src/EDlib/EDSM/**/*
  
GalNet:
  - src/EDlib/GalNet/**/*

Network:
  - src/EDlib/Network/**/*

Platform:
  - src/EDlib/Platform/**/*

Powerplay:
  - src/EDlib/Powerplay/**/*

Tests:
  - src/UnitTests/**/*

added DownloadOptions #34
  src/EDlib/Network/Services/CachedDownloadService.cs
  src/EDlib/Network/Services/DownloadOptions.cs
  src/EDlib/Network/Services/IDownloadService.cs
Labels: Network

added DownloadService #34
  src/EDlib/Network/Services/DownloadService.cs
Labels: Network

changed all services to use new network layer #34
  src/EDlib/BGS/Services/BgsTickService.cs
  src/EDlib/EDSM/Services/EdsmService.cs
  src/EDlib/EDSM/Services/EliteStatusService.cs
  src/EDlib/EDSM/Services/SystemService.cs
  src/EDlib/EDSM/Services/SystemsService.cs
  src/EDlib/GalNet/Services/GalNetService.cs
  src/EDlib/Powerplay/Services/PowerDetailsService.cs
  src/EDlib/Powerplay/Services/StandingsService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: BGS, ED Status, EDSM, GalNet, Powerplay

changed demo + tests to use new network layer #34
  src/EDlibDemo/Program.cs
  src/UnitTests/BGSTests.cs
  src/UnitTests/EdsmServiceTests.cs
  src/UnitTests/EdsmStatusTests.cs
  src/UnitTests/EdsmSystemTests.cs
  src/UnitTests/EdsmSystemsTests.cs
  src/UnitTests/GalNetTests.cs
  src/UnitTests/PowerplayTests.cs
Labels: Demo, Tests

added more constructors to DownloadOptions #34
  src/EDlib/BGS/Services/BgsTickService.cs
  src/EDlib/Network/Services/DownloadOptions.cs
  src/EDlib/Powerplay/Services/PowerDetailsService.cs
Labels: BGS, Network, Powerplay

added download tests #34
  src/EDlib/Taranis.EDlib.xml
  src/UnitTests/DownloadTests.cs
Labels: Tests

reworked EdsmService to use DownloadOptions #34
  src/EDlib/EDSM/Services/EdsmService.cs
  src/EDlib/EDSM/Services/EliteStatusService.cs
  src/EDlib/EDSM/Services/SystemService.cs
  src/EDlib/EDSM/Services/SystemsService.cs
  src/UnitTests/EdsmServiceTests.cs
Labels: ED Status, EDSM, Tests

added an optional parameter to DownloadOptions constructors #34
  src/EDlib/Network/Services/DownloadOptions.cs
  src/EDlib/Taranis.EDlib.xml
  src/UnitTests/DownloadTests.cs
  src/UnitTests/EdsmServiceTests.cs
Labels: Network, Tests
