Repository irongut/EDlib, changes with the labels that .github/labeler.yml gives for each.
All labels: BGS, CGs, Cmdr-Profile, Demo, DevOps, documentation, ED Status, EDSM, GalNet, INARA, Network, Platform, Powerplay, Tests

.github/labeler.yml:

# Configuration for PR Labeller Action
# See: https://github.com/actions/labeler/blob/master/README.md

# Examples
# Add 'label1' to PR if anything changes within 'example' folder or any subfolders
# label1:
#   - example/**/*

# Add 'label2' to PR if any file changes within 'example2' folder
# label2: example2/*

BGS:
  - src/EDlib/BGS/**/*

CGs:
  - src/EDlib/Common/Models/Topic*
  - src/EDlib/INARA/Models/Community*
  - src/EDlib/INARA/Resources/CG*
  - src/EDlib/INARA/Services/Community*

Cmdr-Profile: 
  - src/EDlib/INARA/Models/Commander*
  - src/EDlib/INARA/Services/Commander*

Demo:
  - src/EDlibDemo/**/*

DevOps:
  - .github/**/*
  
documentation:
  - docfx_project/**/*

ED Status:
  - src/EDlib/EDSM/Models/EliteStatus*
  - src/EDlib/EDSM/Services/EliteStatus*

EDSM:
  - src/EDlib/EDSM/**/*
  
GalNet:
  - src/EDlib/GalNet/**/*
  - src/EDlib/Common/Models/Topic*

INARA:
  - src/EDlib/INARA/**/*
  
Network:
  - src/EDlib/Network/**/*

Platform:
  - src/EDlib/Platform/**/*

Powerplay:
  - src/EDlib/Powerplay/**/*

Tests:
  - src/UnitTests/**/*

minor tweaks to namespace docs #68
  docfx_project/namespaces/EDlib.BGS.md
  docfx_project/namespaces/EDlib.EDSM.md
  docfx_project/namespaces/EDlib.GalNet.md
  docfx_project/namespaces/EDlib.INARA.md
  docfx_project/namespaces/EDlib.Powerplay.md
Labels: documentation

add namespace docs for Network + Platform #68
  docfx_project/namespaces/EDlib.Network.md
  docfx_project/namespaces/EDlib.Platform.md
Labels: documentation

add EDlib namespace docs #68
  docfx_project/namespaces/EDlib.md
Labels: documentation

updated readme #70
  README.md
Labels: none

added source link to readme #70
  README.md
Labels: none

updated doc index files #70
  docfx_project/api/index.md
  docfx_project/index.md
Labels: documentation

add EDSM API links to classes #68
  src/EDlib/EDSM/Models/ControllingFaction.cs
  src/EDlib/EDSM/Models/EliteStatus.cs
  src/EDlib/EDSM/Models/Faction.cs
  src/EDlib/EDSM/Models/Market.cs
  src/EDlib/EDSM/Models/Shipyard.cs
  src/EDlib/EDSM/Models/SolarSystem.cs
  src/EDlib/EDSM/Models/Station.cs
  src/EDlib/EDSM/Models/StationOutfitting.cs
  src/EDlib/EDSM/Models/SystemFactions.cs
  src/EDlib/EDSM/Models/SystemStations.cs
  src/EDlib/EDSM/Models/SystemsOptions.cs
  src/EDlib/EDSM/Services/EdsmService.cs
  src/EDlib/EDSM/Services/EliteStatusService.cs
  src/EDlib/EDSM/Services/SystemService.cs
  src/EDlib/EDSM/Services/SystemsService.cs
Labels: ED Status, EDSM

updated BGS docs #70
  src/EDlib/BGS/Models/BgsTick.cs
Labels: BGS

updated EDSM docs #70
  src/EDlib/EDSM/Models/Station.cs
Labels: EDSM

updated GalNet docs #70
  src/EDlib/Common/Models/Topic.cs
  src/EDlib/GalNet/Models/NewsArticle.cs
  src/EDlib/GalNet/Models/NewsArticleConverter.cs
  src/EDlib/GalNet/Services/GalNetService.cs
Labels: CGs, GalNet

updated Exceptions docs #70
  src/EDlib/Exceptions/APIException.cs
  src/EDlib/Exceptions/NoNetworkNoCacheException.cs
Labels: none

updated INARA docs #70
  src/EDlib/INARA/Services/CommanderProfileService.cs
Labels: Cmdr-Profile, INARA

updated Powerplay docs #70
  docfx_project/namespaces/EDlib.Powerplay.md
  src/EDlib/Powerplay/Models/GalacticStandings.cs
  src/EDlib/Powerplay/Models/PowerComms.cs
  src/EDlib/Powerplay/Models/PowerDetails.cs
  src/EDlib/Powerplay/Models/PowerStanding.cs
  src/EDlib/Powerplay/Services/CycleService.cs
  src/EDlib/Powerplay/Services/PowerDetailsService.cs
  src/EDlib/Powerplay/Services/StandingsService.cs
Labels: documentation, Powerplay

updated Platform docs #70
  src/EDlib/Platform/ICacheService.cs
  src/EDlib/Platform/PreserveAttribute.cs
Labels: Platform

updated Network docs #70
  docfx_project/namespaces/EDlib.Network.md
  src/EDlib/Network/Helpers/HttpHelper.cs
  src/EDlib/Network/Helpers/Sha256Helper.cs
  src/EDlib/Network/Services/CachedDownloadService.cs
  src/EDlib/Network/Services/DownloadService.cs
  src/EDlib/Network/Services/IDownloadService.cs
Labels: documentation, Network

updated GalNet namespace docs #70
  docfx_project/namespaces/EDlib.GalNet.md
Labels: documentation

added exception details to relevant method docs #70
  src/EDlib/EDSM/Services/EliteStatusService.cs
  src/EDlib/EDSM/Services/SystemService.cs
  src/EDlib/EDSM/Services/SystemsService.cs
  src/EDlib/INARA/Services/InaraService.cs
Labels: ED Status, EDSM, INARA

added source link, deterministic build + symbols #73
  src/EDlib/EDlib.csproj
Labels: none

updated intellisense docs
  src/EDlib/Taranis.EDlib.xml
Labels: none

made InaraEvent linker safe #80
  src/EDlib/INARA/Models/InaraEvent.cs
Labels: INARA

made CommunityGoal linker safe #80
  src/EDlib/INARA/Models/CommunityGoal.cs
Labels: CGs, INARA

made CommunityGoal linker safe #80
  src/EDlib/INARA/Models/CommunityGoal.cs
  src/EDlib/Taranis.EDlib.xml
Labels: CGs, INARA

new GalNet NewsArticle model #84
  src/EDlib/GalNet/Models/NewsArticle.cs
Labels: GalNet

updated NewsArticle converter #84
  src/EDlib/GalNet/Models/NewsArticleConverter.cs
Labels: GalNet

updated GalNetService for new feed #84
  src/EDlib/GalNet/Services/GalNetService.cs
Labels: GalNet

updated GalNet tests #84
  src/UnitTests/GalNetTests.cs
Labels: Tests

skip GalNet tests + demo until new feed ready #84
  src/EDlib/Taranis.EDlib.xml
  src/EDlibDemo/Program.cs
  src/UnitTests/GalNetTests.cs
Labels: Demo, Tests

changed NewsArticle.Title visibility #84
  src/EDlib/GalNet/Models/NewsArticle.cs
Labels: GalNet

fixed NewsArticle serialisation #84
  src/EDlib/GalNet/Models/NewsArticle.cs
Labels: GalNet

enable GalNet tests + demo #84
  src/EDlibDemo/Program.cs
  src/UnitTests/GalNetTests.cs
Labels: Demo, Tests

add Cycles Since Turmoil to PowerStanding #67
  src/EDlib/Powerplay/Models/PowerStanding.cs
  src/EDlib/Taranis.EDlib.xml
  src/UnitTests/GlobalSuppressions.cs
  src/UnitTests/PowerplayTests.cs
Labels: Powerplay, Tests

allow different duration for CycleImminent #75
  src/EDlib/Powerplay/Services/CycleService.cs
  src/EDlib/Taranis.EDlib.xml
  src/UnitTests/CycleServiceTests.cs
Labels: Powerplay, Tests

change FinalDay to use CycleImminent #75
  src/EDlib/Powerplay/Services/CycleService.cs
  src/EDlib/Taranis.EDlib.xml
Labels: Powerplay

reworked CycleService + tests #75
  src/EDlib/Powerplay/Services/CycleService.cs
  src/EDlib/Taranis.EDlib.xml
  src/UnitTests/CycleServiceTests.cs
Labels: Powerplay, Tests

changed CycleImminent to use TimeTillTick #75
  src/EDlib/Powerplay/Services/CycleService.cs
Labels: Powerplay

added powerplay cycle to demo program #75
  src/EDlibDemo/Program.cs
Labels: Demo

updated test framework
  src/UnitTests/UnitTests.csproj
Labels: Tests

changed visibility of ClassifyArticle
  src/EDlib/GalNet/Models/NewsArticle.cs
Labels: GalNet

reduce GalNet api minimum cache time #89
  src/EDlib/GalNet/Services/GalNetService.cs
Labels: GalNet

improve GalNet article classification #88
  src/EDlib/GalNet/Resources/NewsBoW.json
  src/EDlib/GalNet/Resources/NewsFalseBoW.json
Labels: GalNet
